<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %highlight{%-5level}{STYLE=LOGBACK} %logger{1.} - %msg %notEmpty{- workflow=%X{workflowId} job=%X{jobId}}%n%xException{10}"/>
        </Console>
        <File name="FILE" fileName="logs/server.json">
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
